.inner__contents {
  width: 1170px;
  margin: 0 auto;
}

.clear_fix:after {
  content: ".";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}

.txt_color {
  color: #506a85;
}

.txt_white {
  color: #fff;
}

.reen__head{
  margin-right: 26px;
  display: inline;
  font-size: 12px;
  position: relative;
  top: -10px;
}

.head__box__wrap {
  background-color: #f5f7fa;
}

.top__box {
  height:100px;
  display: table;
}

.reen__header__top {
  position: relative;
}

.mail_tel {
  position: inherit;
  top: 3px;
  float: left;
}

.head__icon {
  float: right;
}

.mail_box {
  background-image: url(../img/header/icon-mail-off.png);
}

.mail:hover .mail_box {
  background-image: url(../img/header/icon-mail-on.png);
  cursor: pointer;
}

.mail:hover .mail_txt_head {
  color: #00bc9c;
  cursor: pointer;
}

.tel_box {
  background-image: url(../img/header/icon-tel-off.png);
}

.tel:hover .tel_box {
  background-image: url(../img/header/icon-tel-on.png);
  cursor: pointer;
}

.tel:hover .tel_txt_head {
  color: #00bc9c;
  cursor: pointer;
}

.icon_2 {
  width: 24px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.head__icon__wrap {
  float: right;
}

.icon {
  display: inline-block;
  margin-right: 26px;
}

.icon_face {
  background-image: url(../img/header/icon-facebook-off.png);
}

.icon_face:hover {
  background-color: #4668b3;
  cursor: pointer;
  background-image: url(../img/header/icon-facebook-on.png);
}

.icon_goo {
  background-image: url(../img/header/icon-google-off.png);
}

.icon_goo:hover {
  background-color: #de5745;
  cursor: pointer;
  background-image: url(../img/header/icon-google-on.png);
}

.icon_twit {
  background-image: url(../img/header/icon-twitter-off.png);
}

.icon_twit:hover {
  background-color: #2fbbed;
  cursor: pointer;
  background-image: url(../img/header/icon-twitter-on.png);
}

.icon_pinter {
  background-image: url(../img/header/icon-pinterest-off.png);
}

.icon_pinter:hover {
  background-color: #d94348;
  cursor: pointer;
  background-image: url(../img/header/icon-pinterest-on.png);
}

.icon_behan {
  background-image: url(../img/header/icon-behance-off.png);
}

.icon_behan:hover {
  background-color: #3079ff;
  cursor: pointer;
  background-image: url(../img/header/icon-behance-on.png);
}

.icon_drib {
  background-image: url(../img/header/icon-dribbble-off.png);
}

.icon_drib:hover {
  background-color: #ed6397;
  cursor: pointer;
  background-image: url(../img/header/icon-dribbble-on.png);
}

.icon_6 {
  width: 24px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.reen__header {
  margin-top: 10px;
  text-align: center;
  float: left;
}

.reen__head__in {
  display: inline-block;
  font-size: 15px;
  margin-right: 44px;
}

.reen__head__in:hover {
  color: #00bc9c;
  cursor: pointer;
}

.reen {
  float: left;
  margin-right: 100px;
}

.reen:hover {
  opacity: 0.6;
  cursor: pointer;
}

.reen__logo {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.main__img {
  padding: 300px 0;
  background-image: url(../img/main/keyvisual.jpg);
  box-sizing: border-box;
}

.main__txt {
  text-align: center;
  font-size: 78px;
}

.sab_txt {
  margin-top: 20px;
  font-size: 24px;
  color: #a3b1bf;
  text-align: center;
  line-height: 30px;
}

.button{
  margin-top: 50px;
  text-align: center;
}

.main_button {
  background-color: #00bc9c;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  color: #fff;
  padding: 20px 50px;
  border: none;
  border-bottom: solid 4px #00a085;
}

.main_button:hover {
  cursor: pointer;
}

.main_contents {
  padding: 120px 0;
  box-sizing: border-box;
}

.txt_beautiful {
  font-size: 44px;
  text-align: center;
}

.txt_reen_is {
  margin-top: 30px;
  font-size: 22px;
  text-align: center;
  line-height: 30px;
}

.passion_img {
  background-image: url(../img/main/description-passion.png);
}

.creativity_img {
  background-image: url(../img/main/description-creativity.png);
}

.quality_img {
  background-image: url(../img/main/description-quality.png);
}

.icon_3 {
  margin-bottom: 72px;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.description {
  margin-bottom: 20px;
  font-size: 26px;
}

.description_sub {
  font-size: 16px;
  line-height: 20px;
}

.work {
  margin-top: 80px;
  text-align: center;
  font-size: 0;
}

.work_sub_img:hover {cursor: pointer;}

.work_main_1 {
  float: left;
}

.work_main_2 {
  float: right;
}

.work_main {
  display: inline-block;
}

.work_main_img {
  position: relative;
}

.work_main_img:hover {cursor: pointer;}

.work_main:hover .work_main_img::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00bc9c;
  opacity: 0.9;
}

.work_main:hover .work_main_img::after {
  content: "+";
  position: absolute;
  display: block;
  color: #fff;
  top: 50%;
  left: 50%;
  font-size: 30px;
}

.box {
  background: #fff;
  width: 570px;
  height: 90px;
  clear: both;
}

.box:hover {
  cursor: pointer;
}

.box_txt {
  font-size: 20px;
  padding-top: 20px;
}

.work_main:hover .box_txt {
  color: #00bc9c;
}

.work_main:hover .work_main_img {
  color: #00bc9c;
}

.box_txt_sub {
  font-size: 14px;
  padding-top: 10px;
}

.work_sub {
  display: inline-block;
  position: relative;
}

.work_sub_img {
  width: 270px;
  height: 185px;
  overflow: hidden;
  position: relative;
}

.work_sub_img .sub_box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #00bc9c;
}

.work_sub_img:hover .sub_box {
  opacity: 0.9;
}

.astor {
  margin-top: 60px;
  font-size: 30px;
  color: #fff;
}

.iden {
  margin-top: 10px;
  font-size: 15px;
  color: #fff;
}

.work_sub_1 {
  margin-right: 30px;
}

.work_sub_2 {
  margin-right: 30px;
}

.work_sub_3 {
  margin-right: 30px;
}

.sub_txt {
  display: inline-block;
}

.sub_contents {
  padding: 0 20px;
}

.inner_3_contents {
  margin-top: 70px;
}

.work_under {
  text-align: center;
}

.work_txt_box {
  background-color: #fff;
  width: 550px;
  height: 100px;
  display: inline-block;
}

.txt_grand {
  margin-right: 30px;
}

.reen_foot {
  background-color: #354859;
  padding: 75px 0;
  box-sizing: border-box;
}

.foot_contents_4 {
  margin-right: 40px;
  display: inline-block;
}

.foot_contents_4:last-child{
  margin-right: 0;
}

.margin30 {
  margin-bottom: 30px;
}

.margin20 {
  margin-bottom: 20px;
}

.txt_h_16 {
  font-size: 16px;
}

.font_14 {
  font-size: 14px;
  line-height: 20px;
}

.copy {
  background-color: #2e3d4c;
  padding: 30px 0;
  box-sizing: border-box;
}

.foot_left_txt {
  float: left;
}

.foot_right_txt {
  float: right;
}

.foot_txt_6 {
  display: inline-block;
}

.foot_txt:hover {
  color: #00bc9c;
  cursor: pointer;
}

.reen_input {
  padding: 10px;
  opacity: 0.4;
  margin-top: 20px;
  width: 260px;
  border-radius: 5px;
  border:none;
  outline: none;
}

.foot_button {
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  background-color: #00bc9c;
  outline: none;
  position: absolute;
  top: 25px;
  left: 200px;
  border: none;
  border-bottom: solid 4px #00a085;
}

.foot_button:hover {
  cursor: pointer;
}

.img {
  height: 85px;
  width: 117px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  position: relative;
}

.img:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00bc9c;
  opacity: 0.9;
}

.img:hover::after {
  content: "+";
  position: absolute;
  display: block;
  color: #fff;
  top: 35px;
  left: 55px;
  font-size: 20px;
}

.img:hover {
  cursor: pointer;
}

.img_foot {
  margin-top: 37px;
}

.img_foot:last-child {
  margin-top: 0;
}

.img_1 {
  background-image: url(../img/footer/thumb-1.jpg);
  margin-right: 3px;
  margin-bottom: 3px;
}

.img_2 {
  background-image: url(../img/footer/thumb-2.jpg);
  margin-bottom: 3px;
}

.img_3 {
  background-image: url(../img/footer/thumb-3.jpg);
  margin-right: 3px;
}

.img_4 {
  background-image: url(../img/footer/thumb-4.jpg);
}

.foot_contents {
  position: relative;
}

.foot_contents_get {
  position: relative;
  bottom: 34px;
}

.po_a {
  position: absolute;
  top: 0;
}

.input_wrap {
  position: relative;
}

.foot_info {
  position: relative;
}

.address {
  background-image: url(../img/footer/icon-address-off.png);
}

.address_wrap:hover .address {
  background-image: url(../img/footer/icon-address-on.png);
}

.address_wrap:hover .foot_address_txt {
  color: #00bc9c;
  cursor: pointer;
}

.foot_tel {
  background-image: url(../img/footer/icon-tel-off.png);
}

.foot_tel_wrap:hover .foot_tel {
  background-image: url(../img/footer/icon-tel-on.png);
}

.foot_tel_wrap:hover .foot_tel_txt {
  color: #00bc9c;
  cursor: pointer;
}

.foot_mail {
  background-image: url(../img/footer/icon-mail-off.png);
}

.foot_mail_wrap:hover .foot_mail {
  background-image: url(../img/footer/icon-mail-on.png);
}

.foot_mail_wrap:hover .foot_mail_txt {
  color: #00bc9c;
  cursor: pointer;
}

.foot_icon_3 {
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  float: left;
}

.foot_address_txt {
  position: inherit;
  left: 10px;
  bottom: 4px;
}

.foot_tel_txt {
  position: inherit;
  left: 10px;
  bottom: 4px;
}

.foot_mail_txt {
  position: inherit;
  left: 10px;
  bottom: 4px;
}